.modal {
  &__button {
    width: 80px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(233, 81, 4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    &:hover {
      background-color: rgb(247, 140, 3);
    }
  }

  &__delete-button {
    padding: 0 10px;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
  }

  &--fixed {
    position: fixed;
    top: 0;
    height: 100%;
  }
}
